<style>

    .main{
        background-color: rgb(252, 244, 236);
    }
    .footer{
        width: 100% !important;
    }
    </style>
    <footer class="footer">
        <div class="main text-center text-md-start">
            <div class="row">
                <!-- About Section -->
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3 aero">
                    <h5 class="text-uppercase mb-4 text-dark"> &nbsp; Aero</h5>
                    <p class="text-dark">
                        &nbsp;Aero is your trusted partner for hassle-free flight bookings.&nbsp; We aim to provide the best travel experiences with secure &nbsp;payments, real-time updates, and 24/7 support.
                    </p>
                </div>
    
                <!-- Quick Links Section -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 text-dark">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-dark text-decoration-none">Home</a></li>
                        <li><a href="/about" class="text-dark text-decoration-none">About Us</a></li>
                        <li><a href="/Flights" class="text-dark text-decoration-none">Book a Flight</a></li>
                        <li><a href="/about" class="text-dark text-decoration-none">Contact Us</a></li>
                        <li><a href="/guidelines" class="text-dark text-decoration-none">FAQs</a></li>
                    </ul>
                </div>
    
                <!-- Contact Section -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-dark">
                    <h5 class="text-uppercase mb-4 text-dark">Contact Us</h5>
                    <p><i class="fas fa-home me-3 text-dark" ></i> 123 Aviation Road, New York, NY 10001</p>
                    <p><i class="fas fa-envelope me-3 text-dark"></i> support@flyhigh.com</p>
                    <p><i class="fas fa-phone me-3 text-dark"></i> +1 (555) 123-4567</p>
                    <p><i class="fas fa-clock me-3 text-dark"></i> Mon-Fri: 9 AM - 6 PM</p>
                </div>
    
                <!-- Social Media Section -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 text-dark">Follow Us</h5>
                    <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
    
            <!-- Horizontal Divider -->
            <hr class="my-4">
    
            <!-- Copyright Section -->
            <div class="row text-center">
                <div class="col-md-12 text-dark">
                    <p class="mb-0">© 2024 Aero | All Rights Reserved | Designed with ❤️ by Aero Team</p>
                </div>
            </div>
        </div>
    </footer>